:root {
    --primary-color: #702963;
    --secondary-color: #630330;
}

header{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.cube-1 {
    display: flex;
    border: 10px solid turquoise;
}

img {
    margin-right: auto;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

.explain {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.box-1 {

}

.box-2 {

}

.box-3 {

}